.bold {
    font-weight:bold;
}
.block {
    display:block;
}
input[type=text] {
    width:300px;
}
/*body {
    background-color: #fff;
    font-size: .80em;
    font-family:'Helvetica Neue', 'Lucida Grande', Arial;
    margin: 0px;
    padding: 0px;
    color: #696969;
}*/
label.myErrorClass {
    color: red;
    font-size: 11px;
    display: block;
}
ul.myErrorClass input {
    color: #666 !important;
}
ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
    background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/blitzer/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) !important;
}

input:required:hover {
  opacity: 1;
}
input:required {
  box-shadow: 2px 2px 10px rgba(200, 0, 0, 0.85);
}

/**
 * style input elements that have a required
 * attribute and a focus state
 */
input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}